parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - src/Examples
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        # Ignore missing property type declarations in test files
        - '#Property .* has no type specified#' 