parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - src/Examples
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        # Ignore missing property type declarations in test files
        - '#Property .* has no type specified#'
        # Ignore missing array typehints
        -
            identifier: missingType.iterableValue
        # Ignore missing generic typehints
        -
            identifier: missingType.generics 